@font-face {
  font-family: 'iconfont';  /* project id 933140 */
  src: url('//at.alicdn.com/t/font_933140_g1mfcrbkqb5.eot');
  src: url('//at.alicdn.com/t/font_933140_g1mfcrbkqb5.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_933140_g1mfcrbkqb5.woff') format('woff'),
  url('//at.alicdn.com/t/font_933140_g1mfcrbkqb5.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_933140_g1mfcrbkqb5.svg#iconfont') format('svg');
}
